.logout-button {
    color: var(--background-color);
    background-color: var(--text-color-one);
    font-size: 2.5vh;
    font-weight: 600;
    padding: 0.8vh 1.5vh;
    border: none;
    border-radius: 0.5vh;
    cursor: pointer;
    width: 40vh;
    text-align: center;
    transition: transform 0.1s ease, opacity 0.2s ease, background-color 0.2s ease;
}

.logout-button:active {
    opacity: 0.85;
    transform: scale(1.05);
}