.profile {
    width: 100%;
    height: auto;
    padding-top: 15vh;
    overflow: auto;
}

.profile-header-one::before {
    content: "Your ";
    color: var(--primary-color);
}

.profile-user {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    padding-top: 2.5vh;
}

.profile-user img {
    width: 5vh;
    border-radius: 50%;
    object-fit: cover;
}

.profile-header-two {
    padding-top: 2.5vh;
}

.profile-header-three {
    padding-top: 2.5vh;
    padding-left: 2.5vh;
    padding-right: 2.5vh;
}

.profile-title-toggle-button {
    display: block;
    background-color: var(--text-color-one);
    color: var(--background-color);
    margin-left: auto;
    margin-right: auto;
    width: 20%;
    height: 5vh;
    border-radius: 25px;
    margin-top: 2.5vh;
    margin-bottom: 2.5vh;
    cursor: pointer;
}

.card-list {
    display: flex;
    flex-direction: column;
}

@media screen and (max-width: 767px) {
    .profile-title-toggle-button {
        width: 60%;
    }
}