.profile {
    width: 100%;
    height: auto;
    padding-top: 15vh;
    overflow: auto;
}

.profile-header-one::before {
    content: "Your ";
    color: var(--primary-color);
}

.profile-user {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    padding-top: 2.5vh;
}

.profile-user img {
    width: 5vh;
    border-radius: 50%;
    object-fit: cover;
}

.profile-header-two {
    padding-top: 2.5vh;
}

.profile-header-three {
    padding-top: 2.5vh;
    padding-left: 2.5vh;
    padding-right: 2.5vh;
}

.profile-title-toggle-button {
    display: block;
    background-color: var(--text-color-one);
    color: var(--background-color);
    margin-left: auto;
    margin-right: auto;
    width: 20%;
    height: 5vh;
    border-radius: 25px;
    margin-top: 2.5vh;
    margin-bottom: 2.5vh;
    cursor: pointer;
}

.card-list {
    display: flex;
    flex-direction: column;
}

.table-card {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 1vh;
    background-color: var(--text-color-one);
    color: var(--background-color);
    padding: 1.5vh;
    border-radius: 1vh;
    margin: 1.5vh auto;
    width: 85%;
    max-width: 600px;
    word-break: break-word;
}

.field {
    display: flex;
    flex-direction: column;
    margin-bottom: 0.8vh;
}

.label {
    font-weight: 800;
    font-size: 2.5vh;
}

.table-button {
    display: block;
    background-color: var(--background-color);
    color: var(--text-color-one);
    margin-left: auto;
    margin-right: auto;
    width: 70%;
    height: 5vh;
    border-radius: 25px;
    margin-top: 1vh;
    cursor: pointer;
}

.table-button:active {
    opacity: 0.85;
    transform: scale(1.05);
}

.value {
    font-size: 3vh;
}

.table-right .value {
    margin-top: 0.5vh;
}

@media screen and (max-width: 767px) {
    .table-card {
        grid-template-columns: 1fr 2fr;
        align-items: start;
    }

    .table-left {
        border-right: 0.3vh solid var(--background-color);
        padding-right: 1.5vh;
    }

    .table-right {
        padding-left: 1.5vh;
    }

    .table-button {
        height: 3vh;
    }

    .profile-title-toggle-button {
        width: 60%;
    }

    .label {
        font-size: 1.75vh;
    }

    .value {
        font-size: 2vh;
    }
}