.navbar {
    width: 100%;
    height: 10vh;
    background-color: var(--background-color);

    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 2vw;
    box-sizing: border-box;
}

.title {
    margin: 0;
    line-height: 1;
    font-size: calc(10vh - 4.5vh);
    color: var(--text-color-one);
    white-space: nowrap;
}

.title span {
    color: var(--primary-color);
}

.title h1::after {
    content: " Water Fountains";
}

.buttons {
    display: flex;
    align-items: stretch;
    gap: 1vw;
    margin-right: 0vw;
    z-index: 10;
}

.buttons a {
    display: inline-block;
    text-decoration: none;
}

.buttons button,
.buttons-link,
.theme-toggle {
    padding: 0.8vh 1.5vh;
    line-height: 1;
    box-sizing: border-box;
}

.buttons button,
.buttons-link {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background-color: var(--primary-color);
    color: var(--text-color-two);
    border-radius: 0.5vh;
    font-size: 3vh;
    font-weight: 600;
    text-decoration: none;
    cursor: pointer;
    transition: transform 0.1s ease, opacity 0.2s ease;
    min-height: calc(3vh + 1.6vh);
}

.buttons-link:active,
.buttons-link:focus {
    opacity: 0.85;
    transform: scale(1.05);
}

.theme-toggle {
    background-color: var(--primary-color);
    display: inline-flex;
    justify-content: center;
    font-size: 3vh;
    padding: 0.8vh 1.5vh;
    height: 100%;
    border-radius: 0.5vh;
    cursor: pointer;
    transition: transform 0.1s ease, opacity 0.2s ease;
}

.theme-toggle:hover {
    opacity: 0.85;
    transform: scale(1.05);
}

.theme-toggle svg {
    fill: var(--text-color-two);
    height: 1em;
    width: 1em;
    vertical-align: middle;
}

.hamburger {
    display: none;
    flex-direction: column;
    justify-content: space-around;
    width: 5vh;
    height: auto;
    aspect-ratio: 1 / 1;
    cursor: pointer;
}

.hamburger .bar {
    height: 0.3vh;
    width: 100%;
    background-color: var(--text-color-one);
    transition: 0.3s;
}

@media screen and (max-width: 1024px) {
    .title h1::after {
        content: " Water";
    }

    .buttons {
        align-items: center;
        display: none;
        position: absolute;
        top: 9.5vh;
        right: 0;
        flex-direction: column;
        width: 100%;
        height: 80vh;
        padding: 1vh;
        background-color: var(--background-color);
        border-left: 1px solid var(--text-color);
    }

    .buttons button,
    .buttons-link,
    .theme-toggle {
        width: 80%;
        height: 10%;
        font-size: 5vh;
        text-align: center;
    }

    .buttons button:hover {
        opacity: 0.85;
        transform: scale(1.05);
    }

    .theme-toggle:hover {
        opacity: 0.85;
        transform: scale(1.05);
    }

    .buttons.open {
        display: flex;
    }

    .hamburger {
        display: flex;
        flex-direction: column;
        gap: 0.3vh;
        cursor: pointer;
    }
}