.navbar {
    z-index: 999;
    position: absolute;
    width: 100%;
    height: 10vh;
    background-color: var(--background-color);

    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 2vw;
    box-sizing: border-box;
    border-bottom: 0.25em solid var(--text-color-one);
}

.navbar-title {
    margin: 0;
    line-height: 1;
    font-size: calc(10vh - 4.5vh);
    color: var(--text-color-one);
    white-space: nowrap;
}

.navbar-title span {
    color: var(--primary-color);
}

.navbar-title h1::after {
    content: " Water Fountains";
}

.navbar-buttons {
    display: flex;
    align-items: stretch;
    gap: 1vw;
    margin-right: 0vw;
    z-index: 10;
}

.navbar-buttons .navbar-github-href {
    display: inline-block;
    text-decoration: none;
}

.navbar-buttons button,
.navbar-buttons .navbar-github-href,
.navbar-buttons-link,
.navbar-theme-toggle {
    padding: 0.8vh 1.5vh;
    line-height: 1;
    box-sizing: border-box;
}

.navbar-buttons .navbar-github-href,
.navbar-buttons button,
.navbar-buttons-link {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background-color: var(--primary-color);
    color: var(--text-color-two);
    border-radius: 0.5vh;
    font-size: 3vh;
    font-weight: 600;
    text-decoration: none;
    cursor: pointer;
    transition: transform 0.1s ease, opacity 0.2s ease;
    min-height: calc(3vh + 1.6vh);
}

.navbar-github-href:active,
.navbar-buttons-link:active,
.navbar-theme-toggle:active {
    opacity: 0.85;
    transform: scale(1.05);
}

.navbar-theme-toggle {
    background-color: var(--primary-color);
    display: inline-flex;
    justify-content: center;
    font-size: 3vh;
    padding: 0.8vh 1.5vh;
    height: 100%;
    border-radius: 0.5vh;
    cursor: pointer;
    transition: transform 0.1s ease, opacity 0.2s ease;
}

.navbar-theme-toggle svg {
    fill: var(--text-color-two);
    height: 1em;
    width: 1em;
    vertical-align: middle;
}

.navbar-hamburger {
    display: none;
    flex-direction: column;
    justify-content: space-around;
    width: 5vh;
    height: auto;
    aspect-ratio: 1 / 1;
    cursor: pointer;
}

.navbar-hamburger .navbar-bar {
    height: 0.3vh;
    width: 100%;
    background-color: var(--text-color-one);
    transition: 0.3s;
}

@media screen and (max-width: 1024px) {
    .navbar-title {
        font-size: calc(10vh - 6.5vh);
    }

    .navbar-title h1::after {
        content: " Water Fountains";
    }

    .navbar-buttons {
        align-items: center;
        display: none;
        position: absolute;
        top: 9.85vh;
        right: 0;
        flex-direction: column;
        width: 100%;
        height: 80vh;
        padding: 1vh;
        background-color: var(--background-color);
        border-left: 1px solid var(--text-color);
    }

    .navbar-buttons .navbar-github-href,
    .navbar-buttons button,
    .navbar-buttons-link,
    .navbar-theme-toggle {
        width: 80%;
        height: 10%;
        font-size: 5vh;
        text-align: center;
        border-radius: 1vh;
    }

    .navbar-buttons.open {
        display: flex;
        align-items: center;
    }

    .navbar-hamburger {
        display: flex;
        flex-direction: column;
        gap: 0.3vh;
        cursor: pointer;
    }
}