.fountain-card {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 100;
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 1vh;
    background-color: var(--background-color);
    color: var(--text-color-one);
    padding: 1.5vh;
    border-radius: 1vh;
    width: 50%;
    word-break: break-word;
}

.close-fountain-card {
    color: var(--text-color-two) !important;
    font-size: auto;
    grid-column: 1 / -1;
    justify-self: center;
    margin-top: 1vh;
    cursor: pointer;
}

.close-fountain-card:active {
    opacity: 0.85;
    transform: scale(1.05);
}

.button-row {
    grid-column: 1 / -1;
    display: flex;
    justify-content: center;
    gap: 5rem;
    margin: 1vh;
}

@media screen and (max-device-width: 1024px) {
    .fountain-card {
        width: 90%;
    }
}