@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

.inter-800 {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 800;
    font-style: normal;
}

:root {
    /* Opposite of background */
    --text-color-one: rgb(15, 15, 15);
    /* Always white*/
    --text-color-two: rgb(200, 200, 200);
    --background-color: rgb(200, 200, 200);
    /* Rutgers Red */
    --primary-color: rgb(204, 0, 51);
    --secondary-color: rgb(102, 102, 102);
    --accent-color: rgb(204, 0, 51);

    --heading-font: "Inter", sans-serif;
    --heading-weight: 800,
}

:root[data-theme="dark"] {
    --text-color-one: rgb(200, 200, 200);
    --background-color: rgb(15, 15, 15);
    --primary-color: rgb(255, 51, 102);
    --secondary-color: rgb(153, 153, 153);
    --accent-color: rgb(255, 51, 102);
}

* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    font-family: var(--heading-font);
    vertical-align: baseline;
    background: transparent;
}

body {
    background-color: var(--background-color);
    overflow-y: auto;
}

.header-one {
    color: var(--text-color-one);
    text-align: center;
    font-size: 10vh;
}

.header-two {
    margin: 0;
    color: var(--text-color-one);
    text-align: center;
    font-size: 5vh;
}

.header-three {
    color: var(--text-color-one);
    text-align: center;
    font-size: 2.5vh;
}

.google-login {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 2.5vh;
}

.google-logout {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2.5vh;
    margin-bottom: 20vh;
}

@media screen and (max-width: 767px) {
    .header-one {
        font-size: clamp(3.5rem, 10vw, 8.5vh);
    }

    .header-two {
        font-size: clamp(2rem, 8vw, 5vh);
    }
}