.mapContainer {
    width: 100%;
    height: 100dvh;
}

.return-to-submit {
    position: absolute;
    bottom: 2%;
    left: 50%;
    transform: translateX(-50%);
    padding: 0.8rem 1.5rem;
    margin-bottom: 3.5rem;
    border-radius: 0.5rem;
    background-color: var(--primary-color);
    color: var(--background-color);
    font-weight: 600;
    cursor: pointer;
    z-index: 10;
}

.zoom-to-user {
    position: absolute;
    bottom: 2vh;
    right: 2vh;
    padding: 1rem 1rem;
    border-radius: 50%;
    background-color: var(--primary-color);
    color: var(--background-color);
    font-size: 1.5rem;
    cursor: pointer;
    z-index: 10;
}

@media screen and (max-width: 1024px) {
    /* .maplibregl-ctrl-bottom-right {
        margin-bottom: calc(8vh + env(safe-area-inset-bottom, 0px));
    } */
}