.mapContainer {
    width: 100%;
    height: 100vh;
}

.return-to-submit {
    position: absolute;
    bottom: 2%;
    left: 50%;
    transform: translateX(-50%);
    padding: 0.8rem 1.5rem;
    margin-bottom: 3.5rem;
    border-radius: 0.5rem;
    background-color: var(--primary-color);
    color: var(--background-color);
    font-weight: 600;
    cursor: pointer;
    z-index: 10;
}