.marker {
    border-radius: 50%;
    width: 4vh;
    height: auto;
    aspect-ratio: 1 / 1;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2vh;
}

.marker:active {
    opacity: 0.85;
    transform: scale(1.25);
}